<% provide :title, (t ".allword") %>
<h1><%= t ".allword" %></h1>
<%= form_tag admin_words_path, method: :get do %>
  <div class="form-group row">
    <div class="col-xs-8">
      <div class="search">
        <h4><%= t ".search" %></h4>
      </div>
    </div>
    <div class="col-xs-4">
      <%= text_field_tag :word_search, params[:search], class: "form-control" %>
    </div>
  </div>
<% end %>
<div>
  <button type="button" class="btn btn-primary" data-toggle="modal"
    data-target=".new-word-modal"><%= t "new" %></button>
</div>
</br>
<table class="table table-hover bg-table ls-users">
  <thead class="title_table">
    <tr>
      <th class="text-c"><%= t ".content" %></th>
      <th class="text-c"><%= t ".category" %></th>
      <th class="text-c"><%= t ".edit" %></th>
      <th class="text-c"><%= t ".delete" %></th>
    </tr>
  </thead>
  <tbody id ="result_search">
    <% @words.each.with_index do |word| %>
      <tr id="word-<%= word.id %>">
        <td class="text-c"><%= word.content %></td>
        <td class="text-c"><%= word.category.name %></td>
        <td>
          <%= link_to t("edit"), edit_admin_word_path(word.id),
            class: "btn btn-default glyphicon glyphicon-pencil" %>
        </td>
        <td class="text-c">
          <button class = "danger btn btn-default glyphicon glyphicon-trash
            delete-category" onclick = "delWord(<%= word.id %>)">
            <%= t ".delete" %>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<%= render "new" %>
