<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag "user_icon.png", id: "avatar" %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
  <%= render "follow_form" if logged_in? %>
    <% if @user.activitys.any? %>
      <ol class="activity">
      <h3><%= t ".activity" %> (<%= @user.activitys.size %>)</h3>
        <% @user.activitys.each do |activity| %>
          <%= render "activities/activity", activity: activity,
            locals: {user: @user} %>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
