<table class="table table-hover bg-table ls-result">
  <thead class="title_table">
    <tr>
      <th class="text-c"><%= t "index" %></th>
      <th class="text-c"><%= t "category" %></th>
      <th class="text-c"><%= t "english" %></th>
      <th class="text-c"><%= t "vietnamese" %></th>
    </tr>
  </thead>
  <tbody>
    <% @words.each_with_index do |word, index| %>
      <tr>
        <td class="text-c"><%= index + 1 %></td>
        <td class="text-c"><%= word.category.name %></td>
        <td class="text-c"><%= word.content %></td>
        <td class="text-c"><% word.answers.each do |answer| %>
          <%= answer.content if answer.is_correct %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
