<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".framgiaELearning"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li id="search">
          <%= form_tag users_path, method: :get do %>
            <%= text_field_tag :search_users, params[:search_users], class:
              "form-control", placeholder: (t".search") %>
          <% end %>
        </li>
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".help"), help_path %></li>
        <% if logged_in? %>
          <% if !is_admin? %>
            <li><%= link_to t(".start_lesson"), categories_path %></li>
            <li><%= link_to t(".word_list"), words_path %></li>
          <% else %>
            <li class="dropdown">
              <%= link_to "#", class: "dropdown-toggle", "data-toggle":
                "dropdown" do %>
                <%= t ".manage" %>
                <span class="caret"></span>
              <% end %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to t(".user"), admin_users_path,
                    data: {turbolinks: false} %>
                </li>
                <li>
                  <%= link_to t(".catergory"), admin_categories_path,
                    data: {turbolinks: false} %>
                </li>
                <li>
                  <%= link_to t(".word"), admin_words_path,
                    data: {turbolinks: false} %>
                </li>
              </ul>
            </li>
          <% end %>
          <li>
            <%= link_to "#" do %>
              <span class="glyphicon glyphicon-globe icon" aria-hidden="true">
              </span>
            <% end %>
          </li>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown" do %>
              <%= @current_user.name %>
              <% if @current_user.avatar.nil? %>
                <%= image_tag "user_icon.png", class: "avatar" %>
              <% else %>
                <%= image_tag @current_user.avatar, class: "avatar" %>
              <% end %>
              <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to t(".profile"), current_user %></li>
              <li><%= link_to t(".user"), users_path %></li>
              <li><%= link_to t(".settings"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".logout"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(".login"), login_path,
            data: {toggle: "modal", target: ".login-modal"} %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
