<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%= render "layouts/flash" %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <%= render "layouts/login" %>
  </body>
</html>
